/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.janitor-modal-footer {
	/* float: right; */
	padding: 10pt;
	display: flex;
}

.janitor-modal-footer button {}

.janitor-modal-footer .janitor-footer-buttons {
	flex: 1;
	justify-content: flex-end;
	display: flex;
}

.janitor-scan-section-title {
	font-size: larger;
	margin-bottom: 5pt;
	font-weight: 600;
}

.janitor-scan-results {
	overflow-y: auto;
	max-height:250px;
}

.janitor-files-wrapper {
	/* overflow-y: auto; */
	/* max-height: 180px; */
	/* border: 1px solid; */
	padding: 5px;
}
